/********** RESET **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/********** STYLE **********/
body {
  font-family: monospace;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

/********** TEKST **********/
p {
  font-size: 1rem;
}

/********** HEADER **********/

header {
  position: sticky;
  padding: 40px 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 60px;
}

a,
li {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
}

/*************** IMG ***************/
.grid_1_1 img {
  border: solid;
  border-color: #4ea2fa;
  border-width: 7px;
}

/*************** DISCOUNT ***************/
.discount {
  background-color: rgba(255, 0, 0, 0.55);
  padding: 10px;
}
/*************** SOLD OUT ***************/
.soldout {
  opacity: 30%;
  background-color: rgb(98, 98, 98);
  padding: 10px;
}

/*************** FOOTER ***************/
footer {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 18px;
}

/*************** GRID & FLEX ***************/
.flexdiv {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.categories {
  border: solid;
  padding: 30px;
  border-radius: 15%;
  background-color: rgb(174, 215, 239);
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.lineuptext {
  margin-top: 423px;
  margin-left: 45px;
}

/*************** KNAP ***************/
.knap a {
  display: inline-block;
  padding: 15px;
  border-radius: 50px;
  background-color: #4ea2fa;
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}

.knap a:hover {
  animation: fadelight_kf 5s linear infinite both;
}

/*************** DT & DD ***************/

dt {
  font-weight: 700;
}
dd {
  margin-inline-start: 40px;
}
